<a id="logo" href="http://lkoelman.github.io">
  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 27.812256 7.715291"
   height="7.715291mm"
   width="27.812256mm">
  <defs
     id="defs2" />
  <g
     transform="translate(-32.788696,-49.940104)"
     id="layer1">
    <g
       aria-label="LKMN"
       transform="scale(0.26458333)"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#e7e6ed;fill-opacity:1;stroke:none"
       id="flowRoot833">
      <path
         d="m 123.92578,188.75 h 3.94531 v 25.83984 h 14.19922 v 3.32032 h -18.14453 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';fill:#e7e6ed"
         id="path4507" />
      <path
         d="m 146.19141,188.75 h 3.94531 v 12.32422 L 163.22266,188.75 h 5.07812 l -14.47266,13.59375 15.50782,15.56641 h -5.19532 l -14.0039,-14.04297 v 14.04297 h -3.94531 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';fill:#e7e6ed"
         id="path4509" />
      <path
         d="m 172.44141,188.75 h 5.8789 l 7.44141,19.84375 7.48047,-19.84375 h 5.8789 v 29.16016 h -3.84765 v -25.60547 l -7.51953,20 h -3.96485 l -7.51953,-20 v 25.60547 h -3.82812 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';fill:#e7e6ed"
         id="path4511" />
      <path
         d="m 206.97266,188.75 h 5.3125 l 12.92968,24.39453 V 188.75 h 3.82813 v 29.16016 h -5.3125 l -12.92969,-24.39454 v 24.39454 h -3.82812 z"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';fill:#e7e6ed"
         id="path4513" />
    </g>
  </g>
</svg>
</a>
